<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- fr_link1 -->
    <link name="fr_link1">
        <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.30000000"/>
        <inertia ixx="0.00019300" ixy="0.00000000" ixz="0.00000000" iyy="0.00014890" iyz="0.00000000" izz="0.00012410"/>
        </inertial>

        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/FR_link1.dae" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/R_link1_collision.STL" />
        </geometry>
        </collision>
    </link>

    <!-- fr_link2 -->
    <link name="fr_link2">
        <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.10000000"/>
        <inertia ixx="0.00000700" ixy="0.00000000" ixz="0.00000444" iyy="0.00017260" iyz="0.00000000" izz="0.00017568"/>
        </inertial>

        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/R_link2.dae" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/R_link2_collision.STL" />
        </geometry>
        </collision>
    </link>

    <!-- fr_link3 -->
    <link name="fr_link3">
        <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.10000000"/>
        <inertia ixx="0.00000936" ixy="-0.00001360" ixz="-0.00000319" iyy="0.00019747" iyz="-0.00000027" izz="0.00019702"/>
        </inertial>

        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/R_link3.dae" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/R_link3_collision.STL" />
        </geometry>
        </collision>
    </link>

    <!-- fr_link4 -->
    <link name="fr_link4">
        <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.1000000"/>
        <inertia ixx="0.00000060" ixy="-0.00000013" ixz="0.00000000" iyy="0.00000058" iyz="0.00000000" izz="0.00000045"/>
        </inertial>

        <!-- <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/link4.dae" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.79216 0.81961 0.93333 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="file:///home/vtcro/Desktop/Dog/dingo_ws/src/dingo_description/meshes/link4_collision.STL" />
            </geometry>
        </collision> -->
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.04 0.04 0.01"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.04 0.04 0.01"/>
            </geometry>
        </visual>
    </link>

    <!-- JOINTS -->

    <joint
        name="fr_theta1"
        type="revolute">
        <origin
        xyz="0.111650000000002 -0.0609999999999988 -0.0144000000000242"
        rpy="1.57079632679492 0 1.5707963267949" />
        <parent
        link="base_link" />
        <child
        link="fr_link1" />
        <axis
        xyz="0 0 -1" />
        <limit
        lower="-0.785398"
        upper="0.785398"
        effort="100.0"
        velocity="3" />
        <!-- <joint_properties damping="1000.0" friction="1000.0"/> -->
        <joint_properties damping="10.0" friction="0.0"/>
    </joint>
    <joint
        name="fr_theta2"
        type="revolute">
        <origin
        xyz="-0.0495999992169121 0.0144000000000242 0"
        rpy="1.57079632309575 1.57079572077363 -1.57079633049404" />
        <parent
        link="fr_link1" />
        <child
        link="fr_link2" />
        <axis
        xyz="0 0 1" />
        <limit
        lower="-3"
        upper="3"
        effort="100.0"
        velocity="3" />
        <!-- <joint_properties damping="1000.0" friction="1000.0"/> -->
        <joint_properties damping="10.0" friction="0.0"/>
    </joint>
    <joint
        name="fr_theta3"
        type="revolute">
        <origin
        xyz="0.13000000353672 0 0"
        rpy="0 0 1.57079598438978" />
        <parent
        link="fr_link2" />
        <child
        link="fr_link3" />
        <axis
        xyz="0 0 1" />
        <limit
        lower="-3"
        upper="3"
        effort="100.0"
        velocity="3" />
        <!-- <joint_properties damping="1000.0" friction="1000.0"/> -->
        <joint_properties damping="10.0" friction="0.0"/>
    </joint>
    <joint
        name="fr_foot"
        type="fixed">
        <origin
        xyz="0.13813664635243 0 0"
        rpy="0 0 0" />
        <parent
        link="fr_link3" />
        <child
        link="fr_link4" />
        <axis
        xyz="0 0 0" />
    </joint>

    <!--GAZEBO-->
    
    <!-- FR4 friction -->
    <gazebo reference="fr_link4">
        <material>Gazebo/Red</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.01</maxVel>      
        <!-- <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <minDepth>0.0002</minDepth>
        <kp  value="1000000.0"/>
        <kd  value="100.0"/> -->
    </gazebo>


</robot>